* {
  font-family: sans-serif;
}

h1 {
  background-color: darkgray;
  padding: 20px;
}

li {
  line-height: 2;
}

.message {
  background-color: black;
  color: rgb(230, 228, 228);
  margin-bottom: 100px;
  text-align: center;
  padding: 40px;
}

.head {
  font-size: 24px;
}
.body {
  color: rgb(142, 140, 140);
  margin-bottom: 50px;
}

.homepage {
  color: red;
  font-size: 14px;
  letter-spacing: 2px;
  text-underline-offset: 5px;
}

.darkMode {
  background-color: light;
  text-emphasis-color: dark;
  text-align: center;
}

footer {
  text-align: center;
}
